
<h1>SHORTNOTE</h1>
<figure>
    <blockquote class="blockquote">
      <h2>Welcome to SHORTNOTE.</h2>
    </blockquote>
    <figcaption class="blockquote-footer">
      Have some of <cite title="Source Title">SHORTNOTE</cite>
    </figcaption>
  </figure>
  <div s>
  <div class="grid text-center" style="--bs-columns: 3;">
    <div class="container overflow-hidden text-center">
      <div class="row gy-5">    
        <div class="col-6">
          <div class="col">
          <div class="p-3">
            <form>
              <button class="col-9" type="button"><h3 class="card-text">History</h3></button>
          </form>
              <div class="card" style="width: 13rem;">
          
            </div>
      <div class="grid">
        <div>#1 The Napolian war</div>
        <div>#2 French revolution</div>
      </div>
    </div>
    </div>
    
     <div class="col-6">
      <div class="col">
      <div class="p-3">
        <div class="card" style="width: 13rem;">
          <form>
            <button class="col-12" type="button"click="goToUrl()"><h3 class="card-text">English</h3></button>
        </form>
        </div>
      <div class="grid" style="--bs-columns: 12;">
        <div class="g-col-6">#1 Present Tense</div>
        <div class="g-col-4">#2 Past Tense</div>
        <div class="g-col-2">#3 Future Tense</div>
      </div>
    </div>
    </div>
    </div>
    
    <div class="col-6">
      <div class="col">
        <div class="p-3">
      <div class="card" style="width: 13rem;">
        <form>
          
          <button class="col-12" type="button"><h3 class="card-text">Physics</h3></button>
      </form>
      </div>
    <div class="grid">
      <div>#1 Energy</div>

      <div>#2 Work</div>

 

  </div>
  </div>
  </div>
</div>
